{% extends 'base.html' %}    

{% block title %}
    Market Page
{% endblock %}

{% block content %}
    

    <div class="row" style="margin-top: 12px; padding-left: 0px; width: 100%;">
        <div class="col-7" style="margin-right: -12px; margin-left: 12px;">
            <!-- SEARCH -->
            <h4 style="color: #7cfc00; margin-top: 8px;">Available Tuitions</h4>
            <br>
            <div class="row" style="margin-left: 0px; ">
                <form action="{{ url_for('main.ibanking_page') }}" method="POST" style="margin-left: 0px; width: 70%;" class="row">
                    {{ searchForm.keyword(class="form-control col-9", placeholder='Enter Your Student ID') }}
                    {{ searchForm.submitSearch(class="btn btn-block col-2 btn-success", style="margin-left: 8px;") }}
                </form>
            </div>
            
            <!-- ADD -->
            <button class="btn btn-success" data-toggle="modal" data-target="#Modal-Add" style="float: right; margin-top: -50px;">Add Student</button>
            {% include 'includes/add_items_modals.html'   %}

            <!-- BẢNG HIỂN THỊ HỌC PHÍ -->
            <br>
            <div style="overflow-x: auto; height: 550px; max-height: 490px;">
            <table class="table table-hover table-dark " style="margin-top: -16px;">
                <thead>
                    <tr>
                        <!-- Your Columns HERE -->
                        <th scope="col" style="padding-top: 24px;">Student ID</th>
                        <th scope="col">Student Name</th>
                        <th scope="col">Tuition</th>
                        <th scope="col">Create Date</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Your rows inside the table HERE: -->
                    {% for item in items %}
                    {% include 'includes/purchase_items_modals.html'   %}
                        <tr>
                            <td>{{ item.student_id }}</td>
                            <td>{{ item.student_name }}</td>
                            <td>{{ item.student_price }}$</td>
                            <td>{{ item.student_date }}</td>
                            <td>
                                <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ item.student_id }}">Pay</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>

        <!-- Bảng THÔNG TIN USER -->
        <div class="col-5 " style="padding-right: 0px; margin-top: -22px;">
            {% if current_user.is_authenticated %}
            <div class="row" style=" margin-top: 40px;">
                <div class="col">
                    <h4 style="color: #7cfc00;">User Information</h4> 
                    <br>
                    <table class="table table-hover table-dark " style="margin-top: 0px;">
                        <thead>
                        <tr>
                            <!-- Your Columns HERE -->
                            <th scope="col">Full Name</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>{{ current_user.user_fullname }}</td>
                                <td>{{ current_user.user_phone }}</td>
                                <td>{{ current_user.user_email }}</td>
                            </tr>
                    </tbody>
                </table>
                </div>
            </div>
            {% endif %}

            <!-- BẢNG LỊCH SỬ GIAO DỊCH -->
            <h4 style="margin-top: 12px; color: #7cfc00;">Paid History</h4>        
            <br>
            <div style="overflow-x: auto; max-height: 320px;">
                <table class="table table-hover table-dark " style="margin-top: -14px; ">
                    <thead>
                        <tr>
                            <!-- Your Columns HERE -->
                            <th scope="col" style="padding-top: 24px;">Student ID</th>
                            <th scope="col" >Student Name</th>
                            <th scope="col" >Tuition</th>
                            <th scope="col" >Date</th>
                        </tr,>
                    </thead>
                    <tbody>
                        <!-- Your rows inside the table HERE: -->
                        {% for owned_item in owned_items %}
                        {% include 'includes/owned_items_modals.html' %}  
                            <tr>
                                <td style="padding-bottom: 8px;">{{ owned_item.student_id }}</td>
                                <td>{{ owned_item.student_name }}</td>
                                <td>{{ owned_item.student_price }}$</td>
                                <td>{{ owned_item.student_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

   

    

    {% block addModal %}
        
    {% endblock %}

    {% block script %}
        
    {% endblock %}
    
{% endblock %}